.spis {
    border-collapse: collapse;
}

table.spis td {
    padding: 4px 6px;
}

.thdr {
    border:1px solid #4e6c6b;
    padding: 4px;
    background-color: #98d7a4;
    font-size: 2vw;
}

/* подсветить строку таблицу под мышью http://htmlbook.ru/faq/kak-sdelat-chtoby-stroka-tablitsy-menyala-tsvet */
tbody.hightlight tr:hover {
    background-color: #e7faf8;
}

/* информация на желтом фоне */
.info {
    font-family: "Calibri", sans-serif;
    color: #0000d3;
    background-color: #e8edb5;
}

/* без подчеркивания */
.nounderline {
    text-decoration: none;
}

/* редактируемое поле */
.edt {
    background-color: #fefbdc;
    font-size: 3vw;
}

/* редактируемое поле под мышью */
.edt:hover {
    background-color: #fffea9;
}

.showdocnote {
    font-family: Calibri, sans-serif;
    font-size: 3vw;
    color: #144f03;
}

.gotodocnote {
    font-family: Calibri, sans-serif;
    font-size: 3vw;
    color: #e563c3;
}

/* горизонтальная линия, которая размещается в клетке таблицы spis */
table.spis td hr {
    border: 0;
    border-top: 1px solid #119727;
    border-bottom: 1px solid #ffffff;
}

/* ввод нового оправдания */
.inputnew {
    background: #60c649;
}

/* стиль для элементов ввода форм */
input[type=text], input[type=date], input[type=number], input[type=submit] {
    font-size: 3vw;
}

/* стиль поля input в форме класса myedt при вводе в jeditable*/
.myedt input {
    font-size: 3vw;
}

/* стиль кнопки login */
.buttonlogin {
    font-size: 2vw;
    color: #5b63c2;
    background-color: #f7ce3f;
    border: 2px;
    border-radius: 8px;
}

.txtdolg {
    color: red;
    font-weight: bold;
}

.txtostatok {
    color: green;
}

.txtminpay {
    color: #1a15e5;
}

/* скролирование вверх страницы по кнопке */
#toTop {
    /* width:40px; */
    border: 1px solid #7272cc;
    background: #e0defb;
    text-align: center;
    padding: 6px;
    position: fixed;
    /* bottom: 32px; */  /* отступ кнопки от нижнего края страницы*/
    top: 32px; /* отступ от верхнего края страницы */
    right: 16px;
    cursor: pointer;
    display: none;
    color: #3524dc;
    font-family: Calibri, serif;
    font-size: 9px;
    border-radius: 4px;
    opacity: 0.8;
}


